@import '~bootstrap-scss/bootstrap.scss';
@import 'color.scss';

.mainContainer {
  padding: 50px !important;
}

.subContainer {
  padding: 10px !important;
}

.infoContainer {
  padding: 50px !important;
  background-color: #f1f1f1 !important;
  border-radius: 5px !important;
}

.whiteContainer {
  padding: 50px !important;
  background-color: #ffffff !important;
  border-radius: 5px !important;
}
// media query for mobile container
@media (max-width: $media-query-sm) {
  .mainContainer {
    padding: 20px !important;
  }
}

@media (max-width: $media-query-sm) {
  .subContainer {
    padding: 10px !important;
  }
}

@media (max-width: $media-query-sm) {
  .infoContainer {
    padding: 10px !important;
  }
}

@media (max-width: $media-query-sm) {
  .whiteContainer {
    padding: 30px 20px !important;
  }
}

.pageTitle {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 42px;
}

.subTitleMain {
  font-family: 'Poppins', sans-serif;
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 24px !important;
  color: #828282 !important;
}

.secondPageTitle {
  text-decoration: none !important;
  font-family: 'Poppins' !important;
  font-weight: 400 !important;
  font-size: 21px !important;
  line-height: 32px !important;
  color: #222222 !important;
}

.forgotPasswordLabel {
  text-decoration: none !important;
  font-family: 'Poppins' !important;
  font-weight: 700 !important;
  font-size: 28px !important;
  line-height: 42px !important;
  color: #222222 !important;
}

.normalText {
  font-family: 'Poppins', sans-serif;
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 24px !important;
  color: #222222 !important;
}

.subText {
  font-family: 'Poppins', sans-serif;
  font-weight: 300 !important;
  font-size: 12px !important;
  line-height: 18px !important;
  color: #222222 !important;
}

.buttonText {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700 !important;
  font-size: 16px !important;
  line-height: 24px !important;
  color: #222222 !important;
}
.textButtonsTab {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500 !important;
  font-size: 16px !important;
  line-height: 24px !important;
  color: #050100 !important;
}

.greyNormalText {
  font-family: 'Poppins', sans-serif;
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 24px !important;
  color: #a5a5a5 !important;
}

.auxSucessText {
  color: #7ad81b !important;
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 24px !important;
  cursor: pointer !important;
}

.auxGrayText {
  color: #c4c4c4 !important;
  font-weight: 500px !important;
  font-size: 16px !important;
  line-height: 24px !important;
}

.secondPageTitle {
  font-family: 'Poppins', sans-serif;
  font-style: normal !important;
  font-size: 28px !important;
  line-height: 42px !important;
  padding-bottom: 20px !important;
  text-decoration: underline;
}

.pageSubTitle {
  font-style: normal !important;
  font-size: 21px !important;
  line-height: 31.5px !important;
  padding-bottom: 10px !important;
}

.infoSubTitle {
  font-family: 'Poppins', sans-serif;
  font-weight: 400 !important;
  font-style: normal !important;
  font-size: 21px !important;
  line-height: 32px !important;
  padding-bottom: 30px !important;
  color: #828282;
}

.fieldLabel {
  font-family: 'Poppins' !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 16px !important;
  padding-bottom: 15px !important;
  color: #828282 !important;
}

.loginFormLabel {
  font-family: 'Poppins' !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 16px !important;
  color: #828282 !important;
  margin-bottom: 15px !important;
}

.loginFormText {
  font-family: 'Poppins' !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 21px !important;
  color: #f1f1f1 !important;
}

.checkLabel {
  margin-left: 10px !important;
  font-family: 'Poppins' !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 16px !important;
  color: #a5a5a5 !important;
}

.fieldSpacing {
  padding-bottom: 50px !important;
  // padding-right: 30px !important;
}

// media query for mobile
@media (max-width: $media-query-sm) {
  .fieldSpacing {
    padding-bottom: 40px !important;
    // padding-right: 30px !important;
  }
}

.mainButton {
  width: 592px !important;
  height: 64px !important;
  border-radius: 5px !important;
}
.tabButton {
  width: 592px !important;
  height: 64px !important;
  border-radius: 5px !important;
}

.tabButtonActive {
  width: 270px !important;
  height: 64px !important;
  background-color: transparent !important;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  transition: 0.1s;
  border-bottom-style: solid !important;
  border-bottom-width: 3px !important;
  border-bottom-color: black !important;
}

.ordinaryButton {
  background-color: #222222;
  border-radius: 5px;
}

.tabButtonDesactive {
  width: 270px !important;
  height: 64px !important;
  background-color: transparent !important;
  border-color: transparent !important;
}

.checkFieldSpacing {
  padding-bottom: 20px !important;
  padding-right: 30px !important;
  color: #828282 !important;
}

.eventStatus {
  padding-right: 25px !important;
  padding-bottom: 50px !important;
}

.groupButton {
  display: grid !important;
  padding-bottom: 50px !important;
}

.nextPageButton {
  display: flex !important;
  justify-content: end !important;
}

.dividerUp {
  margin-bottom: 50px !important ;
}
.dividerDown {
  margin-top: 50px !important ;
  margin-bottom: 50px !important ;
}

.stepContainer {
  height: 66px !important;
  margin-bottom: 59px;
  img {
    max-width: 100%;
    height: auto;
  }
}

.collapseTable {
  background-color: #ffffff;
  width: 100%;
  height: 74px;
  border-radius: 5px;
}
.collapseTableText {
  padding-left: 50px;
  padding-right: 30px;
  padding-top: 25px;
}

.rotateSvg {
  transform: rotate(180deg);
  transition: all ease-in-out 0.2s;
}

.iconTable {
  margin-right: 10px;
  margin-top: 5px;
}

.svgPosition {
  margin-right: 30px;
  margin-top: 30px;
}
//----- Contador de Eventos -----//

.cardHeader {
  height: 165px !important;
  background: #ffffff !important;
  border-radius: 10px !important;
  border: none;
}

// .cardHome {
//   border: none;
//   background: #ffffff !important;
//   border-radius: 1px !important;
//   div {
//     display: flex !important;
//     justify-content: center;
//     align-items: center !important;
//     flex-direction: column;
//   }
//   div + div {
//     border-left: #F1F1F1 ;
//     border-left-style: solid !important;
//   }
// }

.cardHome {
  padding: 0;
  border: none;
  background: #ffffff !important;
  border-radius: 10px !important;
  .row .col:not(:first-child) {
    border-left: 1px solid #f1f1f1;
  }
}

.firstDiv {
  height: 165px !important;
  border-right-width: 1px !important;
  border-right-style: solid !important;
  display: inline-block !important;
  border-right-color: #f1f1f1 !important;
}

.lastDiv {
  height: 165px !important;
  width: 264px !important;
  display: inline-block !important;
}

.firstContent {
  margin-top: 30px !important;
  margin-left: 25px !important;
}

.textContent {
  text-align: initial !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 16px !important;
  line-height: 24px !important;
  // height: 5rem;
  img {
    margin-right: 10px;
  }
}
.count {
  color: #828282 !important;
  margin-left: 25px;
}

.partyCard {
  width: 334px;
  height: 223px;
  border-radius: 10px;
  display: inline-block;
  margin-right: 60px;
  margin-bottom: 30px;
}

.actionCard {
  margin-left: 293px !important;
  margin-top: 13px !important;
  justify-content: end !important;
  margin-right: 17px !important;
  position: absolute !important;
}

.partyImage1 {
  background-image: url(../images/party/evento1.jpg);
  width: 334px;
  height: 223px;
  border-radius: 10px;
}

.partyImage2 {
  background-image: url(../images/party/evento2.jpeg);
  width: 334px;
  height: 223px;
  border-radius: 10px;
}

.partyImage3 {
  background-image: url(../images/party/evento3.jpg);
  width: 334px;
  height: 223px;
  border-radius: 10px;
}

.partyBlur {
  z-index: 1;
  position: absolute;
  width: 334px;
  height: 120px;

  background: rgba(34, 34, 34, 0.3);
}

//----- Tabela de Eventos -----//

.rows {
  display: flex;
  width: 100%;
  height: 83px;
  border-radius: 10px;
  margin-bottom: 30px;
  background-color: #ffffff !important;
}

.linhaDaTabela {
  display: inline-block;
}

.campoFoto {
  min-width: 99px;
  height: 83px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.campoStatus {
  min-width: 4px;
  max-width: 4px;
  height: 83px;
  background-color: #7ad81b;
}
.campoNome {
  min-width: 400px;
  max-width: 400px;
  height: 83px;
  align-items: center;
}
.campoCidade {
  min-width: 180px;
  max-width: 180px;
  height: 83px;
}

.campoData {
  min-width: 182px;
  max-width: 182px;
  height: 83px;
}
.campoAção {
  min-width: 144px;
  max-width: 144px;
  height: 83px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.celulaNome {
  min-width: 236px;
  max-width: 236px;
  margin-top: 32px;
  margin-bottom: 32px;
  margin-left: 22px;
  position: absolute;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.celulaCidade {
  min-width: 180px;
  max-width: 180px;
  margin-top: 32px;
  // margin-bottom: 32px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: absolute;
}
.celulaData {
  margin-top: 32px;
  margin-bottom: 32px;
  position: absolute;
}

.celulaAção {
  min-width: 110px;
  max-width: 110px;
  margin-top: 32px;
  margin-bottom: 32px;
  position: absolute;
}

.header {
  display: flex;
  width: 1062px;
  border-radius: 10px;
  margin-bottom: 30px;
}

.headerFoto {
  margin-bottom: 18px;
  width: 99px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.headerStatus {
  width: 4px;
}
.headerNome {
  margin-bottom: 18px;
  width: 400px;
}
.headerCidade {
  margin-bottom: 18px;
  width: 180px;
}

.headerData {
  margin-bottom: 18px;
  width: 182px;
}
.headerAção {
  margin-bottom: 18px;
  width: 144px;
}

.modal-backdrop {
  width: 100% !important;
  height: 100% !important;
}

//----- Card de Eventos -----//

.descriptionEvent {
  margin-top: 103px !important;
  border-radius: 10px !important;
  position: absolute !important;
  width: 334px !important;
  height: 120px !important;
  background-color: transparent !important;
  backdrop-filter: blur(5px) !important;
  -webkit-backdrop-filter: blur(5px) !important;
}

.nameEvent {
  font-family: 'Poppins', sans-serif;
  color: white !important;
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 16px !important;
  line-height: 24px !important;

  padding-top: 11px !important;
  margin-bottom: 11px !important;
  padding-left: 25px !important;
  text-align: start !important;
  width: 240px !important;
  height: 44px !important;
}

.dateEvent {
  font-family: 'Poppins', sans-serif;
  color: white !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 12px !important;
  line-height: 18px !important;

  margin-bottom: 11px !important;
  padding-top: 10px !important;
  padding-left: 25px !important;
  text-align: start !important;
  height: 18px !important;
}

.locationEvent {
  font-family: 'Poppins', sans-serif;
  color: white;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;

  padding-top: 8px;
  padding-bottom: 11px;
  padding-left: 25px;
  text-align: start;
  height: 18px;
}

//----- Login -----//

.loginForm {
  width: 592px !important;
  height: 64px !important;
  border-radius: 5px !important;
  background-color: #f1f1f1 !important;
  color: #a5a5a5 !important;
  border-color: #f1f1f1 !important;
}

.loginCard {
  padding-left: 50px !important;
  padding-right: 50px !important;
}

.passwordIcon {
  margin-top: 25px !important;
}

.loginField {
  margin-bottom: 35px !important;
}

.forgotPassword {
  margin-top: 40px !important;
  font-family: 'Poppins' !important;
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 16px !important;
  line-height: 24px !important;
  text-decoration: underline !important;
  color: #b3140c !important;
}

//----- Card Relatórios -----//

.reportCard {
  width: 182px;
  height: 177px;
  background-color: #ffffff;
  border-radius: 10px;
}

.titleStep {
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
}

hr.lineText {
  height: 4px;
  max-width: 20rem;
  position: relative;
  top: 20px;
  border: none;
  height: 2px;
  background: black;
  margin-bottom: 50px;
  margin: auto 0;
  margin-top: -15px;
}
