.modal {
  &__main-container {
    padding: 25px 15px;
    background-color: #f1f1f1;
    border: none;
    border-radius: 5px;
    max-height: 580px;
    overflow: auto;
    margin: 5px 40px 20px;
  }
  &__header-container {
    display: flex;
  }
  &__title {
    font-weight: 700;
    font-size: 28px;
    padding-bottom: 10px;
  }
  &__confirmation-title {
    color: #222222;
    margin-top: 10px;

    font-weight: 700;
    font-size: 21px;
    line-height: 32px;
  }

  .modal__with-container {
    padding: 0 !important;
  }
}
.modal-content {
  background-color: #f8f8f8;
  height: 100%;
}
.exclude-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f8f8f8;
  padding-bottom: 50px;
  border: none;
  border-radius: 5px;
}
.modal__confirmation-text {
  margin-top: 2px;
  text-align: center;
}

.confirmation-modal {
  margin: 11rem auto;
}

// media query for mobile container
@media (max-width: $media-query-sm) {
  .mainContainer,
  .subpdv-main-container {
    padding: 20px !important;
  }
}
