.circle-grey {
    background-color: #E6E6E6;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px !important;
    transition: all 0.3s ease-in-out;
}